body {

  margin: 0;
  background-color: silver;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.single-card {
  height: 280px;
  width: 280px;
  

}
p {
  font-size: 1.5rem;
}
.App {
  display: flex;
  flex-wrap: wrap;
}
.card-wrapper {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.card {
  width: 280px;
  padding: 2%;
  /* text-align: center;

  font: outline;
  color: whitesmoke;   */
}

.nav-links {
  text-align: center;
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  margin: 5%;
  position: relative;

}
a {
  
  margin: 5%;
  color: purple;
  text-decoration: none;
}